body {
  background-image: url("./images/candyroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  position: absolute;
  top: 0;
  font-size: 100px;
  font-family: 'Delicious Handrawn', cursive;
  align-items: center;
}

.intro {
  font-family: 'Delicious Handrawn', cursive;
  background-color: bisque;
}

header nav {

  color: grey !important;
  font-weight: bold;
  display: flex;
  padding: auto;
  position: absolute;
  top: 100px;

}

nav img {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgb(22, 2, 2);
  border-color: rgb(18, 1, 1);
  max-height: 100px;
}


header li {
  display: inline;
  line-height: 50px;
  margin-left: 50px
}

body section {
  padding: 20px;
  margin: auto;
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

a {
  color: black;
  font-weight: 900;
  text-decoration: none;
}

footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 4px;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;
}

/* Cards */
.card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  /* This determines the 3D perspective */
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* This ensures that the back side of the card is not visible by default */
  transition: transform 0.6s ease-in-out;
  /* This determines the transition effect */
}

.card-front {
  transform: rotateY(0deg);
  /* This determines the initial state of the card */
}

.card-back {
  transform: rotateY(180deg);
  /* This determines the flipped state of the card */
}

.card:hover .card-front {
  transform: rotateY(180deg);
  /* This flips the card when it is hovered over */
}

.card:hover .card-back {
  transform: rotateY(0deg);
  /* This flips the back of the card when it is hovered over */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: auto;
  border: 50px 0px;
}

.card {
  position: relative;
  width: 250px;
  height: 375px;
  perspective: 800px;
  padding: 22px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-size: 32px;
  text-align: center;
  transform: rotateY(180deg);
  background-color: bisque;
  color: red;
  font-family: 'Delicious Handrawn', cursive;
  position: absolute;
  width: 295px;
  height: 375px;
}

.card p {
  padding: 5px;
  width: 250px;
  height: 375px;
}

.card.flip .card-front {
  transform: rotateY(180deg);
}

.card.flip .card-back {
  transform: rotateY(0deg);
}

#image-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}