body {
  margin: 25px;
}

h1 {
font-size: 100px;
text-align: center;
}

.alexander {
background-image: url("assets for clue game/bloodybackground.jpg");
background-size: 100%;
height: 660px;
padding-right: 10px;
}

.alexander img {
  padding: 25px 0px 0px 0px;
}

.alexander2 {
display: flex;
flex-direction: row;
margin-top: 60px;
margin-left: 20px;
}

.alexander p {
margin-top: 50px;
color: white;
font-weight: 500;
text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
}

.main {
padding:0px;
}

.victimSection {
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
padding: 20px 0px 30px 0px;
width: 1001px;
}

#victim {
padding: 0px 25px 0px 125px
}

#cards-main {
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
padding: 0px;
}

h2 {
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
font-size: 60px;
}

h3 {
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
font-size: 30px;
}

header nav {
color: grey !important;
font-weight: bold;
display: flex;
justify-content: center; /* align items horizontally */
align-items: center; /* align items vertically */
padding: auto;
}

nav img {
display: inline-block;
border-radius: 50%;
border: 2px solid rgb(22, 2, 2);
border-color: rgb(18, 1, 1);
max-height: 100px;
}

header li {
display: inline;
line-height: 50px;
margin-left: 50px
}

body section {
padding: 20px;
margin: auto;
font-size: x-large;
font-family: 'Montserrat', sans-serif;
text-align: center;
}

footer {
background-color: rgba(111, 196, 159, 0.643);
border: 5px solid #090000;
padding: 4px;
font-size: 100%;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border-radius: 45%;
border: 2px solid rgb(22, 2, 2);
border-color: rgb(18, 1, 1);
max width: 50%;
margin: 0 auto;
}

/* Cards */

.card-container-main {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 120vh;
width: 1400px;
}
.card {
position: relative;
width: 250px;
height: 375px;
perspective: 800px;
margin: 15px;

}
.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}
.card-front {
background-color: #ccc;
}
.card-back {
  background-color: #cf7878;
  color:black;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-align: center;
  position: absolute;
  width: 250px;
  height: 375px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card.flip .card-front {
transform: rotateY(180deg);
}
.card.flip .card-back {
transform: rotateY(0deg);
}
